{% extends 'base.html' %}

{% load static %}

{% block title %}
    <strong id="title">
        <hi>Яндекс Лавка</hi>
    </strong>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href=" {% static 'css/categories.css'  %}">
{% endblock %}

{% block content %}
    <div>
        <strong>Каталог</strong>
    </div>
    {% for category in data.categories %}
        <p class="catalog">
            <img src="/static/img/{{ category.id }}.jpg" width="30" height="30" align="left" vspace="10">
            {% include 'category_el.html' with  elem=category %}
        </p>
    {% empty %}
        <p>Список пуст</p>
    {% endfor %}
    <p class="catalog"></p>
{% endblock %}
